[Unit]
Description=Minecraft Server Monitor
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/minecraft-monitor
Environment="SERVER_ADDRESS={{ server_address }}"
ExecStart=/home/{{ ansible_user }}/minecraft-monitor/venv/bin/uvicorn app:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target